/**************Modificações*********************/

.md-header-nav__source, .md-announce{display:none !important;}
/*.md-sidebar__scrollwrap .md-nav__title{display:none !important;}*/
.md-sidebar__scrollwrap .md-nav__item{font-weight:400;}

.md-header{
	background-color:/* var(--md-primary-fg-color)*/ #0073b7;
    box-shadow: 0 0 0.2rem rgba(0,0,0,.1), 0 0.2rem 0.4rem rgba(0,0,0,.2);
    transition: color 250ms,background-color 250ms,box-shadow 250ms;;
	}

.admonition.attention{
	color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
	border: none;
	
}


.admonition.note {
    color: #3a87ad;
    background-color: #d9edf7;
	border: none;
	font-size:0.8rem;
}
 hr:after {
    content: "···";
    letter-spacing: 1.2em;	
}

.md-typeset hr{
	border:none;
	margin: 1em 1em 1em 0;
    text-align: center;
    border-color: #3a87ad;
	color: #3a87ad;
    border-width: 0;
    border-style: dotted;}
	
.tx-hero_boxes{position:absolute;width:40rem;left:43%;display: inline-block;}

.cardHome{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 25%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .35rem;
	float:left;
	flex: 1 1 auto;
    min-height: 6.5rem;
    padding: 1.25rem;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
	margin: 0.3rem;
	opacity: 0.6;
	text-align:center;
}

.cardHome:hover{
    background-color: #fff;
  	opacity: 1.9;
	text-align:center;
	cursor: pointer;
}

.cardHome a{	
	/*color:#454FB7;*/
	color: hsl(204deg 37% 27%);
	font-family:'TeachableSanszd', sans-serif;
	font-weight:600;
}

@media screen and (min-width: 1088px){
	
}

.md-sidebar--secondary{
	color:#1ea69a;
	font-family:'TeachableSanszd', sans-serif;
}

.md-nav__item .md-nav__link--active {
	padding:5px;
	background:#039be5;
	border-radius:6px;
	color:#ffffff;
}

.md-nav--secondary .md-nav__item .md-nav__link--active {
   padding-left: 5px;
   border-left: 2px solid #039be5;
   	padding-left:4px;
	background:transparent;
	border-radius:0;
	color:#1ea69a;
}


@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Regular.ttf) format("truetype");font-weight:400;font-style:normal}


@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Italic.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Italic.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Italic.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Italic.ttf) format("truetype");font-weight:400;font-style:italic}

@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Medium.ttf) format("truetype");font-weight:500;font-style:normal}


@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-MediumItalic.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-MediumItalic.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-MediumItalic.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-MediumItalic.ttf) format("truetype");font-weight:500;font-style:italic}


@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBold.ttf) format("truetype");font-weight:600;font-style:normal}

@font-face{font-family:TeachableSanszd;
	src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBoldItalic.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBoldItalic.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBoldItalic.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-SemiBoldItalic.ttf) format("truetype");font-weight:600;font-style:italic}


@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-BoldItalic.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-BoldItalic.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-BoldItalic.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-BoldItalic.ttf) format("truetype");font-weight:700;font-style:italic}

@font-face{font-family:TeachableSanszd;src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.eot);src:url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.eot?#iefix) format("embedded-opentype"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.woff) format("woff"),url(//d2oz8i5n9se8ej.cloudfront.net/fonts/teachable-sans/TeachableSans-Bold.ttf) format("truetype");font-weight:700;font-style:normal}
